.works.section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.projects {
  display: flex;
  z-index: 0;
}
.projects .subtitle {
  color: $white-text-color;
}
.projects .unit {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.apps {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}
.works-img {
  display: block;
  width: 370px;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.unit-thumb {
  height: 294px;
}
